.container {
  border: 2px solid #000;
}
.blockTitleProps {
  border: 2px solid rgb(179, 26, 26);
  margin: 20px;
}
div {
  text-align: center;
}

.post-enter {
  opacity: 0;
  transform: translateX(-350px);
}
.post-enter-active {
  transform: translateX(0);
  opacity: 0.5;
  transition: all 500ms ease-in;
}
.post-exit {
  opacity: 1;
}

.post-exit-active {
  transform: translateX(350px);

  opacity: 0;
  transition: all 500ms ease-in;
}

.no-scroll {
  overflow: hidden;
}
